<!--  old form for login but not used ryt nw -->

{% extends "mud/base.html" %}
{%load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}Login{% endblock %}

{% load static %}
{% load i18n %}
{% block extra_head %}

	  <link rel="stylesheet" href={% static "mud/css/vendor/graph/morris.css" %}>
  	  <link rel="stylesheet" href={% static "mud/css/vendor/graph/prettify.min.css" %}>



<style>
#main-vechile-number-leftpanel{
background: url("res/img/vechicle-number.jpg") #4898b3;
padding-top: 50px;
    text-align: center;
    padding:0;
}

#vechicle-number-rightpanel{
	background: #fff;
    border-radius: 1px;
    padding: 15px 20px;
}
</style>
{% endblock %}
{% block content %}

	
	<!-- main content row begin -->
	
	<div class="row" style="margin-top:1.5%; margin-left:3%;">
	
	<!-- graph and login details begin-->
     <div class="row" >
     
      <div class="col-md-5">
        	
			    
			       
			            
       		
	   </div>
	   <div class="row">
	   		<div class="container">
	   		
	   		<div class="col-md-7" id="main-vechicle-number-panel" >
			
        				<div class="col-md-12" id="vechicle-number-rightpanel">
        					
        							<div id="loginbox"  class="mainbox col-md-6 ">                    
                      

                    <div style="padding-top:30px" class="panel-body" >
			<form id="loginform" class="form-horizontal login"" role="form" method="POST" action="/accounts/login/">
			  {% csrf_token %}
			<div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  <input type="text" class="form-control" name="login" autofocus="autofocus" required placeholder="Username" id="id_login" maxlength="150" />
			</div>
			 <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="password" name="password" class="form-control" required placeholder="Password" id="id_password" />
			</div>
			<div class="input-group">
                                      <div class="checkbox">
                                        <label>
			<input type="checkbox" name="remember" id="id_remember" />Remember me
                                        </label>
                                      </div>
                             </div>
			  
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			  
			<div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
					<button id="btn-login" class="btn btn-success primaryAction" type="submit">Sign In</button>
                                      
                                     </div>
                                     
                             </div>
			</form>
                        
                       </div>                     
                      
               </div>
 	       						
 	       				</div>
 	       				</div>
        			</div>
        	
		</div>
	   		
	   		
	   		</div>
	   </div>
	  </div> 	
	 
	</div>
	
  	  <link rel="stylesheet" href={% static "mud/js/vendor/jquery/jquery-2.1.4-min.js" %}>
  	  <link rel="stylesheet" href={% static "mud/js/vendor/bootstrap/bootstrap.min.js" %}>
  	  <link rel="stylesheet" href={% static "mud/js/vendor/graph/moment.min.js" %}>
  	  <link rel="stylesheet" href={% static "mud/js/vendor/graph/raphael-min.js" %}>
  	  <link rel="stylesheet" href={% static "mud/js/vendor/graph/morris.min.js" %}>
  	  <link rel="stylesheet" href={% static "mud/js/vendor/graph/prettify.min.js" %}>
 


 
 {% endblock %}
