<!-- entry page of website -->

<!DOCTYPE html>
{% extends "mud/base.html" %}
{%load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}Login{% endblock %}

{% load static %}
{% load i18n %}
{% block extra_head %}
<style>
#main_content{
	background: url({% static "mud/res/video/bg-gif.gif" %});
	background-size: cover;
	height:532px;
	width:100%;
	mrgin-top:-1em;
	margin-right:1%;
	position:relative;

}

#li{
    float: left;
    width: 25%;
    padding: 24px;
    height: 100px;
    font-size: 15px;
    color: #0bdcd2;
    line-height: 1.4;
    text-align: center;
    background-color: #0a0a0aeb;
    border: 1px solid #fff;
}

#li  a{
 color:white;
}



#notice_heading{
	 height: 30px;
    color: white;
    font-size: 20px;
    background: #0a0a0aeb;
    padding: 0;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}

	
	<!-- main content row-->
	
	<div class="row" id="main">
	  <div class="col-md-12" id="main_content">
	   <div class="row" style="margin-top:7%;margin-left:3%;opacity:.6;">
		
		<div class="col-md-7" >
			<div class="">
        		
        		<div class="panel-body">
        			<!-- row 1 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;"><a href="SafetyRules.html">Safety Rules</a>
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;"><a href="Penalty.html">Penalty Rules</a>
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-th-large" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;"><a href="UserFee.html">User Fee</a>
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>	
        			<!-- row 2 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-book" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;"><a href="NewVechicleRegistrationPage.html">New Vechicle Registration</a>
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-picture" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;"><a href="Homologation.html">Homologation</a>
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-check" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;"><a href="PermitFeeAndPeriod.html">Permit Fee & Period</a>
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>
        			
        			<!-- row 3 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;"><a href="TypesOfPermit.html">Types Of Permit</a>
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-flash" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;"><a href="ActsRulesPolicies.html">Acts Rules & Policies</a>
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
    		</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3" >
				
			    <div class="row" id="main-vechile-number-panel">
        				<div class=""> 
        				 <div class="col-md-10" id="vechicle-number-rightpanel" style="margin-top:9%;">
        				     <div class="container">
	   							<div id="loginbox"  class="mainbox col-md-4 ">                    
                   					<div class="panel panel-success" >
                                      <div style="padding-top:30px" class="panel-body" >
				                        <form id="loginform" class="form-horizontal login"" role="form" method="POST" action="/accounts/login/">
{% csrf_token %}
	                 			        
	                 			           <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  <input type="text" class="form-control" name="login" autofocus="autofocus" required placeholder="Username" id="id_login" maxlength="150" />
			</div>
			 <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="password" name="password" class="form-control" required placeholder="Password" id="id_password" />
			</div>
			<div class="input-group">
                                      <div class="checkbox">
                                        <label>
			<input type="checkbox" name="remember" id="id_remember" />Remember me
                                        </label>
                                      </div>
                             </div>
			  
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			  
			<div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
					<button id="btn-login" class="btn btn-success primaryAction" type="submit">Sign In</button>
                                      
                                     </div>
                                     
                             </div>
			</form>
                			           </div>                     
                    			     </div>  
               					 </div>
	   						</div>
	        			</div>
 	       				<!-- end of vechicle form rightpanel  -->
    		    </div>
    		    </div>
		   
		</div>
		
		</div>
		
	  	<div class="row" style="height: 59px;">
		<div class="col-md-12" >
			
		</div>
	  </div>
	  
	</div>

 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
 {% endblock %}
