<!-- entry page of website -->

<!DOCTYPE html>
{%load staticfiles %}
{% load widget_tweaks %}
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href={% static "mud/css/vendor/bootstrap/bootstrap.min.css" %}>
  	  <link rel="stylesheet" href={% static "mud/css/main.css" %}>
<title>{% block head_title %}{% endblock %}</title>
{% block extra_head %}
{% endblock %}


</head>
<body>
{% block body %}
<div class="row">
	<!-- header section -->
	<div class="row">
		
	</div>
	<div class="row">
		 <div class="container">
                        <div class="inline-section vertical-right-divider">
                            <div id="logo">
                                <a href="https://parivahan.gov.in/parivahan" title="Home">
                                    <img src={% static "mud/res/img/logo-parivahan-sewa-en.png"%} class="emblem-resize"></a>
                            </div>

                        </div>
                        <div class="inline-section fix-width">
                            <div class="govt-india">
                                Government of India 
                            </div>
                            <div class="slogan-name">
                                Ministry of Housing &amp; Uraban Affairs       
                            </div>
                        </div>
           </div>
	</div>
	<!-- navigation menu section-->
	<div class="row" >
	
		<nav class="navbar" id="navigation">
		  <div class="container-fluid">
		    
		    <ul class="nav navbar-nav">
		      <li class="active" ><a href="#" id="text">VISION</a></li>
		      <li><a href="#" id="text">ABOUT US</a></li>
		      <li><a href="#" id="text">FAQ</a></li>
		      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	
	</div>
	<!-- navigation ends -->
	

	{% block content %}
    {% endblock %}
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
           
                <div class="col-md-3 left-position">
                    
                    
                </div>
                <div class="col-md-6 center-position">
                    <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
                    </div>
                </div>
                <div class="col-md-3 right-position footer-line-height">
                   
                    
                </div>
            
        </div>
	
	
</div>
 <script src={% static "mud/js/vendor/jquery/jquery-2.1.4-min.js" %}></script>
 
 <script src={% static "mud/js/vendor/bootstrap/bootstrap.min.js" %}></script>

    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>
</html>
