{% block leftside %}
{%load staticfiles %}
{% load widget_tweaks %}
<div class="col-md-2" >
						<div class="row profile">
							<div class="profile-sidebar">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<img src={% static "mud/res/img/login-user.png" %} class="img-responsive" alt="">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										{{ user }}
									</div>
									<div class="profile-usertitle-email">
										{{ user.email }}
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<div class="profile_nav">
										<li >
											<a href="#">
											<i class="glyphicon glyphicon-user"></i>
											Basic details </a>
										</li>
										<li>
											<a href="{% url 'reg' purpose='new' %}">
											<i class="glyphicon glyphicon-list"></i>
											Vechicle Registration </a>
										</li>
										<li>
											<a href="#" >
											<i class="glyphicon glyphicon-ok"></i>
											RC Transfer </a>
										</li>
										
									</div>
								</div>
								<!-- END MENU -->
							</div>
						</div>
					</div>

{% endblock %}
