<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>WELCOME</title>
</head>
<body>
<div class="row">
	<!-- header section -->
	<div class="row">
		<header>
		    <div class="container clearfix">
		       <nav>
		        	<a href="#">HOME</a>
		            <a href=""><span class="glyphicon glyphicon-user"></span>SIGNUP</a>
		            <a href=""><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
		           
		        </nav>
		    </div>
		</header><!-- /header -->
	</div>
	<div class="row">
		 <div class="container">
                        <div class="inline-section vertical-right-divider">
                            <div id="logo">
                                <a href="https://parivahan.gov.in/parivahan" title="Home">
                                    <img src="HTTPS://parivahan.gov.in/parivahan/sites/default/files/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                            </div>

                        </div>
                        <div class="inline-section fix-width">
                            <div class="govt-india">
                                Government of India 
                            </div>
                            <div class="slogan-name">
                                Ministry of Urban Development &amp; Highways       
                            </div>
                        </div>
           </div>
	</div>
	<!-- navigation menu section-->
	<div class="row" >
	
		<nav class="navbar" id="navigation">
		  <div class="container-fluid">
		    
		    <ul class="nav navbar-nav">
		      <li class="active" ><a href="#" id="text">VISION</a></li>
		      <li><a href="#" id="text">ABOUT US</a></li>
		      <li><a href="#" id="text">FAQ</a></li>
		      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	
	</div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<div class="row" id="main">
	  <div class="col-md-12" id="main_content_row">
		<div class="col-md-1"></div>
		<div class="col-md-3" >
			 <div class="panel panel-default">
        		<div class="panel-heading">GENERAL INSTRUCTIONS</div>
        		<div class="panel-body">
        			<li>ABCGFD</li>
        			<li>ASDFV</li>
        			<li>SCAFE</li>
        			<li>VWSEF</li>
        			
        
        		</div>
    		</div>
		</div>
		<div class="col-md-4" >
			<div class="panel panel-default">
        		<div class="panel-heading">SERVICES</div>
        		<div class="panel-body">
        			<li>NEW VEHICLE REGISTRATION</li>
        			<li>RC TRANSFER</li>
        			<li>TAX CALCULATOR</li>
        			<li>USER MANUAL</li>
        			<li>PERMIT FEE</li>
        			<li>PERMIT RULES</li>
        			<li>NEW VEHICLE REGISTRATION</li>
        			<li>RC TRANSFER</li>
        			<li>TAX CALCULATOR</li>
        			<li>USER MANUAL</li>
        			<li>PERMIT FEE</li>
        			<li>PERMIT RULES</li>
        		</div>
    		</div>
		</div>
		<div class="col-md-3" >
				<div class="panel panel-default">
        		<div class="panel-heading">NOTICES</div>
        		<div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
    		</div>
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
           
                <div class="col-md-3 left-position">
                    
                    
                </div>
                <div class="col-md-6 center-position">
                    <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
                    </div>
                </div>
                <div class="col-md-3 right-position footer-line-height">
                   
                    
                </div>
            
        </div>
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>