<!-- entry page of website -->
{% extends "mud/base.html" %}
{%load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}WELCOME{% endblock %}

{% block extra_head %}
<style>
#main_content{
	background: url({% static "mud/res/video/bg-gif.gif" %});
	background-size: cover;
	height:auto;
	width:100%;
	mrgin-top:-1em;
	margin-right:1%;
	position:relative;

}

#li{
    float: left;
    width: 33%;
    padding: 24px;
    height: 100px;
    font-size: 15px;
    color: yellow;
    line-height: 1.4;
    text-align: center;
    background-color: #3281b1;
    border: 1px solid #fff;
}

#notice_heading{
	 height: 30px;
    color: black;
    font-size: 20px;
    background: yellow;
    padding: 0;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
	<!-- main content row-->
	
	<div class="row" id="main">
	  <div class="col-md-12" id="main_content">
	   <div class="row" style="margin-top:7%;margin-left:3%;opacity:.85;">
		
		<div class="col-md-7" >
			<div class="">
        		
        		<div class="panel-body">
        			<!-- row 1 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;">Safety Rules
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-th-large" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>	
        			<!-- row 2 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-book" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;">Safety Rules
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-picture" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-check" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>
        			
        			<!-- row 3 -->
        			<div class="row">
        				<div class="col-md-12">
        					<div class="row">
        						<div class="col-md-4" id="li">
        							
        							     <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="
    										font-size: 24px; margin-left:10%;"	>
    									</span>
        								 <span class="glyphicon-class" style="display: block;text-align: center;
    										word-wrap: break-word;">Safety Rules
    									</span> 
        						</div>
        						<div class="col-md-4"  id="li">
        							<span class="glyphicon glyphicon-flash" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        						<div class="col-md-4" id="li">
        							<span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="font-size: 24px; margin-left:10%;"	>
        							</span>
        							<span class="glyphicon-class" style="display: block; text-align: center;
   										 word-wrap: break-word;">Safety Rules
   									</span> 
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
    		</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3" >
				<div class="panel panel-warning">
        		<div class="panel-heading" id="notice_heading">Important Notices</div>
        		<div class="panel-body" style=" color: wheat; background-color: #3281b1; ">
        			
        				<marquee direction="up" scrollamount=2>
        				<ol>
		        			<li>ROAD MEASURES MUST BE TAKEN SERIUSLY</li>
		        			<li>NEW RUES HAVE BEEN INTRODUCED IN SAFETY RULE BOOK</li>
		        			<li>VECHICLE REGISTRATION HAS BECOME MORE EASY</li>
		        			<li>MAJOR DOCUMENTS ONE MUST HAVE </li>
		        					<ul><li>ADAHR CARD</li><li>VOTER ID</li></ul>
		        			<li>USER MUST LOGIN TO ENJOY THE BENIFITS OF NEW CENTRALIZED SYETEM</li>
	        			
        			</ol>
        			</marquee>
        		
        		</div>
    		</div>
		</div>
		
		</div>
		
		</div>
	</div>
	{% endblock %}
