<!DOCTYPE html>
{%load staticfiles %}
{% load widget_tweaks %}
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href={% static "mud/css/vendor/bootstrap/bootstrap.min.css" %}>
  	  <link rel="stylesheet" href={% static "mud/css/main.css" %}>
<title>Police Portal</title>

<style>

</style>
</head>
<body>
 <div class="row">
 	<div class="row">
		 <div class="container">
                        <div class="inline-section vertical-right-divider">
                            <div id="logo">
                                <a title="Home">
                                    <img id="indianemblem" src="res/img/logo-parivahan-sewa-en.jpg" class="emblem-resize"></a>
                            </div>

                        </div>
                        <div class="inline-section fix-width">
                            <div class="govt-india">
                                Government of India 
                            </div>
                            <div class="slogan-name">
                                Ministry of Housing &amp; Urban Affairs       
                            </div>
                        </div>
           </div>
	</div>
	<!-- menu section begin -->
	<div class="row" >
	
		<nav class="navbar" id="navigation">
		  <div class="container-fluid">
		    
		    <ul class="nav navbar-nav">
		      <li class="active" ><a href="#" id="text">VISION</a></li>
		      <li><a href="#" id="text">ABOUT US</a></li>
		      <li><a href="#" id="text">FAQ</a></li>
		      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	
	</div>
	<!-- menu section ends -->
	
	
	
	
	<!-- main content row begin -->
	<div class="row">
		<div class="container" style="width:100%;background: #08102d;">
			<div class="col-md-2" >
						<div class="row profile">
							<div class="profile-sidebar">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<img src="res/img/login-user.png" class="img-responsive" alt="">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										RTO USER BOARD
									</div>
									<div class="profile-usertitle-email">
										mudbud2.0@mudbud.com
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<div class="profile_nav">
										<li>
											<a href="#" target="_blank">
											<i class="glyphicon glyphicon-ok"></i>
											REGISTERED POLLUTION CENTRE IN ZONE </a>
										</li>
										
									</div>
								</div>
								<!-- END MENU -->
							</div>
						</div>
					</div>
			
			<div class="col-md-10" style="background-color:white;">
				<div class="row" style="margin:2%">
						<div >
	
	<!-- personal details begin-->
     <div class="row" >
      <div >
        <div class="panel panel-info">
		     <div class="panel-body">
	           		
	           		<!--  section 4 for police protal begin -->
					<button class="pollutionControlAccordian" aria-expanded="true" style="background-color:coral;">Pollution Centre PORTAL</button>
						<div class="accordionPanel collapse show">
											 		<div class="row" >
													      <div class="col-md-12">
													        <div class="panel panel-info">
																
														        <div class="panel-body">
															     		<form class="form-horizontal" role="form" name="personalform"> {% csrf_token %}
    
                                               {% for f in pollution_f %}
						<div class="form-group row">
						    <label for="ownerName" class="col-sm-2 col-form-label">{{ f.label_tag }}</label>
						    <div class="col-sm-10">
                                               {% render_field f class="form-control" %}
						    </div>
						</div>
                                                {% endfor %}

                                                <button type="submit" class="btn btn-success btn-lg btn-block"> CLICK HERE TO SUBMIT DATA </button>
			</form>
																		
															         </div>
															 	</div>	
														   </div>
														 </div>
											</div>
		     		<!--  section 4 for police poratl ends -->
	           		
	           		<!-- section one for personal details begin  -->
		     		<button class="pollutionControlAccordian" style="background-color:goldenrod;" >OWNER DETAILS</button>
						<div class="accordionPanel">
									 <div class="row" >
									      <div class="col-md-12">
									        <div class="panel panel-info">
												
										           <div class="panel-body">
											     <fieldset class="for-panel">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Name:</label>
                  <p class="form-control-static">{{ pdetail_f.user_name }}</p> 
<label class="col-xs-4 control-label">Gender:</label>
                  <p class="form-control-static">{{ pdetail_f.gender }}</p> 				  

                    <label class="col-xs-5 control-label">Father's name </label>
                    <p class="form-control-static">{{ pdetail_f.father_name }}</p>   
<label class="col-xs-5 control-label">Mother's name </label>
                    <p class="form-control-static">{{ pdetail_f.mother_name }}</p>   					
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">   
                  <label class="col-xs-5 control-label">Phone Number: </label>
                  <p class="form-control-static">{{ pdetail_f.mobile_no }}</p>               			  
                  <label class="col-xs-4 control-label">Pan Number: </label>
                  <p class="form-control-static">{{ pdetail_f.pan_no }}</p>             
                               
                  <label class="col-xs-4 control-label">Aadhar no:</label>
                  <p class="form-control-static">{{ pdetail_f.aadhar_no }}</p>             
                  <label class="col-xs-4 control-label">email id:</label>
                  <p class="form-control-static">{{ pdetail_f.email_id }}</p>            
                              
              </div>
            </div>
          </div>
        </fieldset>				
												
									         </div>
							 	
									 	</div>	
								   </div>
								</div>	
						</div>
						
					<!-- section one for personal details ends -->
					
					<!--  section 2 for address details begin -->
					<button class="pollutionControlAccordian" style="background-color:khaki;">OWNER ADDRESS</button>
					<div class="accordionPanel">
					 	<div class="row">
				 	
							<!-- -Adreess Details by user-->
							<div class="col-md-6">
							    <div class="panel panel-info">
								<div class="panel-heading">
						Permanent Address </div>
									<div class="panel-body">
										<fieldset class="for-panel">
                    <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Address: </label>
                  <p class="form-control-static">{{ permanent_f.add1 }}</p>               
                  <label class="col-xs-5 control-label">State: </label>
                  <p class="form-control-static">{{ permanent_f.state }}</p>               
                  <label class="col-xs-5 control-label">District: </label>
                  <p class="form-control-static">{{ permanent_f.district }}</p> 
                  <label class="col-xs-5 control-label">Pin code: </label>
                  <p class="form-control-static">{{ permanent_f.pincode }}</p>					
              </div>
            </div>
        </fieldset>
									</div>
						    	</div>
							</div>
				
					<!-- present address -->	
							<div class="col-md-6">
							  <div class="panel panel-info">
								<div class="panel-heading">
						Present Address </div>
								<div class="panel-body">
									<fieldset class="for-panel">
                    <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Address:</label>
                  <p class="form-control-static">{{ presentadd_f.add1 }}</p>               
                  <label class="col-xs-5 control-label">state: </label>
                  <p class="form-control-static">{{ presentadd_f.state }}</p>               
                    <label class="col-xs-5 control-label">District: </label>
                    <p class="form-control-static">{{ presentadd_f.district }}</p> 
 <label class="col-xs-5 control-label">Pin code: </label>
                    <p class="form-control-static">{{ presentadd_f.pincode }}</p>					
              </div>
			  
            </div>
        </fieldset>				
					      </div>
					</div>
				</div> 		
				 		
         </div>
								</div>
							
					<!--  section 2 for address details ends -->	
					
					<!-- section 3 for vechicle details begin -->
					<button class="pollutionControlAccordian" style="background-color:yellowgreen;">OWNER VECHICLE DETAILS</button>
						<div class="accordionPanel">
					  		<div class="row" >
     											 <div class="col-md-12">
       												 <div class="panel panel-info">
													
											        <div class="panel-body">
												     		<fieldset class="for-panel">
          <fieldset class="for-panel">
          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">dealer Name:</label>
                  <p class="form-control-static">{{ vdetails_f.dealer_name }}</p>               
                  <label class="col-xs-5 control-label">dealer address: </label>
                  <p class="form-control-static">{{ vdetails_f.dealer_address }}</p>               
                    <label class="col-xs-5 control-label">Vehicle class: </label>
                    <p class="form-control-static">{{ vdetails_f.vehicle_class }}</p> 
 <label class="col-xs-5 control-label">Body type: </label>
                    <p class="form-control-static">{{ vdetails_f.body_type }}</p> 
 <label class="col-xs-5 control-label">Vehicle type: </label>
                    <p class="form-control-static">{{ vdetails_f.vehicle_type }}</p> 	
 <label class="col-xs-5 control-label">Company name: </label>
                    <p class="form-control-static">{{ vdetails_f.company_name }}</p>
					 <label class="col-xs-5 control-label">Year of Manufacture: </label>
                    <p class="form-control-static">{{ vdetails_f.year_manufacture }}</p> 
					 <label class="col-xs-5 control-label">Number of Cylinders: </label>
                    <p class="form-control-static">{{ vdetails_f.numberof_cylinders }}</p> 
					 <label class="col-xs-5 control-label">Horse power: </label>
                    <p class="form-control-static">{{ vdetails_f.horse_power }}</p> 
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-4 control-label">CC: </label>
                  <p class="form-control-static">{{ vdetails_f.cubic_capacity }}</p>             
                  <label class="col-xs-4 control-label">Chassis Number:</label>
                  <p class="form-control-static">{{ vdetails_f.chassis_no }}</p>              
                  <label class="col-xs-4 control-label">Engine number:</label>
                  <p class="form-control-static">{{ vdetails_f.engine_number }}</p>             
                  <label class="col-xs-4 control-label">Seating Capacity:</label>
                  <p class="form-control-static">{{ vdetails_f.seating_capacity }}</p>            
                  <label class="col-xs-4 control-label">Fuel Type:</label>
                  <p class="form-control-static">{{ vdetails_f.fuel_engine }}</p>   
 <label class="col-xs-5 control-label">unladen weight: </label>
                    <p class="form-control-static">{{ vdetails_f.unladen_weight }}</p>
					<label class="col-xs-5 control-label">Body Color: </label>
                    <p class="form-control-static">{{ vdetails_f.body_color }}</p> 
					<label class="col-xs-5 control-label">Registration No.: </label>
                    <p class="form-control-static">{{ vdetails_f.registration_no }}</p> 				  
              </div>
            </div>
          </div>
        </fieldset>
														
												         </div>
		 												</div>	
	   												</div>
	   
	   
	 										 </div> 
						</div>
					<!-- section 3 for vechicke details ends -->
					
				
		         </div>
		 	
		 	</div>	
	   </div>
	  </div> 	
	 
	</div>
				</div>
			
			</div>
		</div>
	
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
           
                <div class="col-md-3 left-position">
                    
                    
                </div>
                <div class="col-md-6 center-position">
                    <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
                    </div>
                </div>
                <div class="col-md-3 right-position footer-line-height">
                   
                    
                </div>
            
        </div>
 </div>
 

 
 <script>
var acc = document.getElementsByClassName("pollutionControlAccordian");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
 <script src={% static "mud/js/vendor/jquery/jquery-2.1.4-min.js" %}></script>
 
 <script src={% static "mud/js/vendor/bootstrap/bootstrap.min.js" %}></script>>
 
</body>
</html>
