<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>Police Portal</title>

<style>

</style>
</head>
<body>
 <div class="row">
 	<div class="row">
		 <div class="container">
                        <div class="inline-section vertical-right-divider">
                            <div id="logo">
                                <a href="https://parivahan.gov.in/parivahan" title="Home">
                                    <img src="HTTPS://parivahan.gov.in/parivahan/sites/default/files/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                            </div>

                        </div>
                        <div class="inline-section fix-width">
                            <div class="govt-india">
                                Government of India 
                            </div>
                            <div class="slogan-name">
                                Ministry of Urban Development &amp; Highways       
                            </div>
                        </div>
           </div>
	</div>
	<!-- menu section begin -->
	<div class="row" >
	
		<nav class="navbar" id="navigation">
		  <div class="container-fluid">
		    
		    <ul class="nav navbar-nav">
		      <li class="active" ><a href="#" id="text">VISION</a></li>
		      <li><a href="#" id="text">ABOUT US</a></li>
		      <li><a href="#" id="text">FAQ</a></li>
		      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	
	</div>
	<!-- menu section ends -->
	
	<!-- main content row begin -->
	<div class="row" style="margin-top:1.5%; margin-left:3%;margin-right:3%">
	
	<!-- personal details begin-->
     <div class="row" >
      <div class="col-md-12">
        <div class="panel panel-info">
			<div class="panel-heading"> Owner details </div>
	           <div class="panel-body">
	           		
	           		<!-- section one for personal details begin  -->
		     		<button class="pollutionControlAccordian" style="background-color:goldenrod;" >OWNER DETAILS</button>
						<div class="accordionPanel">
									 <div class="row" >
									      <div class="col-md-12">
									        <div class="panel panel-info">
												
										           <div class="panel-body">
											     		<form class="form-horizontal" role="form" name="personalform">
												 			<div class="form-group row">
															    <label for="ownerName" class="col-sm-2 col-form-label">Owner Name</label>
															    <div class="col-sm-10">
															      <input type="text"  class="form-control" id="ownerName" readonly>
															    </div>
															</div>
															  <div class="form-group row">
															    <label for="ownerAdahr" class="col-sm-2 col-form-label">Adhar No.</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerAdahr" placeholder="Adhar" readonly>
															    </div>
															  </div>
															  <div class="form-group row">
															    <label for="ownerContact" class="col-sm-2 col-form-label">Contact No</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerContact" placeholder="ownerContact" readonly>
															    </div>
															  </div>
															  <div class="form-group row">
															    <label for="ownerPan" class="col-sm-2 col-form-label">Pan No.</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerPan" placeholder="ownerPan" readonly>
															    </div>
															  </div>
											     		</form>
												
									         </div>
							 	
									 	</div>	
								   </div>
								</div>	
						</div>
						
					<!-- section one for personal details ends -->
					
					<!--  section 2 for address details begin -->
					<button class="pollutionControlAccordian" style="background-color:khaki;">OWNER ADDRESS</button>
					<div class="accordionPanel">
					 	<div class="row">
				 	
							<!-- -Adreess Details by user-->
							<div class="col-md-6">
							    <div class="panel panel-info">
								<div class="panel-heading">
						Permanent Address </div>
									<div class="panel-body">
										<form class="form-horizontal" role="form" name="permamanentAddressForm">
						 					<div class="form-group row">
										    	<label for="address1" class="col-sm-2 col-form-label">Address Line1</label>
										    	<div class="col-sm-10">
										      		<input type="text"  class="form-control" id="address1" readonly>
										    	</div>
											</div>
										    <div class="form-group row">
										     <label for="permanentcity" class="col-sm-2 col-form-label">City</label>
										     <div class="col-sm-10">
										       <input type="text" class="form-control" id="permanentcity" placeholder="permanentcity" readonly>
										     </div>
										    </div>
									  		<div class="form-group row">
									        	<label for="permanentState" class="col-sm-2 col-form-label">State</label>
									    		<div class="col-sm-10">
									      			<input type="text" class="form-control" id="permanentState" placeholder="permanentState" readonly>
									    		</div>
									  		</div>
									  		<div class="form-group row">
									    		<label for="permamnetPin" class="col-sm-2 col-form-label">Pin Code</label>
									    			<div class="col-sm-10">
									      				<input type="text" class="form-control" id="permamnetPin" placeholder="permamnetPin" readonly>
									    			</div>
									 		 </div>
					     				</form>
									</div>
						    	</div>
							</div>
				
					<!-- present address -->	
							<div class="col-md-6">
							  <div class="panel panel-info">
								<div class="panel-heading">
						Present Address </div>
								<div class="panel-body">
									<form class="form-horizontal" role="form" name="presentAddressForm">
						 				<div class="form-group row">
										    <label for="presentAddress1" class="col-sm-2 col-form-label">Address Line1</label>
										    <div class="col-sm-10">
									    	  <input type="text"  class="form-control" id="address1" readonly>
									    	</div>
										</div>
									  	<div class="form-group row">
									    	<label for="presentcity" class="col-sm-2 col-form-label">City</label>
									    		<div class="col-sm-10">
									      			<input type="text" class="form-control" id="presentcity" placeholder="presentcity" readonly>
									    		</div>
									  	</div>
									  	<div class="form-group row">
									    	<label for="presentState" class="col-sm-2 col-form-label">State</label>
									    		<div class="col-sm-10">
									      			<input type="text" class="form-control" id="presentState" placeholder="presentState" readonly>
									    		</div>
									  	</div>
									  	<div class="form-group row">
									    	<label for="presentPin" class="col-sm-2 col-form-label">Pin Code</label>
									    		<div class="col-sm-10">
									      			<input type="text" class="form-control" id="presentPin" placeholder="presentPin" readonly>
									    		</div>
									  	</div>
					     		</form>						
					      </div>
					</div>
				</div> 		
				 		
         </div>
								</div>
							
					<!--  section 2 for address details ends -->	
					
					<!-- section 3 for vechicle details begin -->
								<button class="pollutionControlAccordian" style="background-color:yellowgreen;">OWNER VECHICLE DETAILS</button>
									<div class="accordionPanel">
									  		<div class="row" >
     											 <div class="col-md-12">
       												 <div class="panel panel-info">
													
											        <div class="panel-body">
												     		<form class="form-horizontal" role="form" name="personalform">
													 			<div class="form-group row">
																    <label for="vechicleName" class="col-sm-2 col-form-label">Vechicle Name</label>
																    <div class="col-sm-10">
																      <input type="text"  class="form-control" id="ownerName" placeholder="vechicleName" readonly>
																    </div>
																</div>
																  <div class="form-group row">
																    <label for="vechicleModel" class="col-sm-2 col-form-label">Vechicle Model</label>
																    <div class="col-sm-10">
																      <input type="text" class="form-control" id="ownerAdahr" placeholder="vechicleModel" readonly>
																    </div>
																  </div>
																  <div class="form-group row">
																    <label for="vechicleType" class="col-sm-2 col-form-label">Vechicle Type</label>
																    <div class="col-sm-10">
																      <input type="text" class="form-control" id="ownerContact" placeholder="vechicleType"readonly>
																    </div>
																  </div>
																  <div class="form-group row">
																    <label for="vechicleColor" class="col-sm-2 col-form-label">Vechicle color</label>
																    <div class="col-sm-10">
																      <input type="text" class="form-control" id="ownerPan" placeholder="vechicleColor" readonly>
																    </div>
																  </div>
												     		</form>
														
												         </div>
		 												</div>	
	   												</div>
	   
	   
	 										 </div> 
									</div>
					<!-- section 3 for vechicke details ends -->
					
					<!--  section 4 for police protal begin -->
										<button class="pollutionControlAccordian"style="background-color:coral;">Pollution Centre PORTAL</button>
											<div class="accordionPanel">
											 		<div class="row" >
													      <div class="col-md-12">
													        <div class="panel panel-info">
																
														        <div class="panel-body">
															     		<form class="form-horizontal" role="form" name="personalform">
																 			<div class="form-group row">
																			    <label for="vechicleNo" class="col-sm-2 col-form-label">Vechicle Number</label>
																			    <div class="col-sm-10">
																			      <input type="text"  class="form-control" id="vechicleNo">
																			    </div>
																			</div>
																			  <div class="form-group row">
																			    <label for="vechicleModel" class="col-sm-2 col-form-label">Vechicle Model</label>
																			    <div class="col-sm-10">
																			      <input type="text" class="form-control" id="vechicleModel" placeholder="vechicleModel">
																			    </div>
																			  </div>
																			  <div class="form-group row">
																			    <label for="serviceDate" class="col-sm-2 col-form-label">Service Date</label>
																			    <div class="col-sm-10">
																			      <input type="text" class="form-control" id="serviceDate" placeholder="serviceDate">
																			    </div>
																			  </div>
																			  <div class="form-group row">
																			    <label for="nextServiceDate" class="col-sm-2 col-form-label">Next Service Date</label>
																			    <div class="col-sm-10">
																			      <input type="text" class="form-control" id="nextServiceDate" placeholder="nextServiceDate" readonly>
																			    </div>
																			  </div>
																			  
																			  <div class="form-group row">
																			    <label for="fuelConsumption" class="col-sm-2 col-form-label">Fuel consumption in 3 months</label>
																			    <div class="col-sm-10">
																			      <input type="text" class="form-control" id="fuelConsumption" placeholder="fuelConsumption">
																			    </div>
																			  </div>
																			  	<button type="button" class="btn btn-success btn-lg btn-block"> CLICK HERE TO SUBMIT DATA  </button>	
															     		</form>
																		
															         </div>
															 	</div>	
														   </div>
														 </div>
											</div>
		     		<!--  section 4 for police poratl ends -->
		         </div>
		 	
		 	</div>	
	   </div>
	  </div> 	
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
           
                <div class="col-md-3 left-position">
                    
                    
                </div>
                <div class="col-md-6 center-position">
                    <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
                    </div>
                </div>
                <div class="col-md-3 right-position footer-line-height">
                   
                    
                </div>
            
        </div>
 </div>
 
 <script>
var acc = document.getElementsByClassName("pollutionControlAccordian");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
 
</body>
</html>