<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
{%load staticfiles %}
{% load widget_tweaks %}
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href={% static "mud/css/vendor/bootstrap/bootstrap.min.css" %}>
  	  <link rel="stylesheet" href={% static "mud/css/main.css" %}>
<title>User Dashboard</title>
</head>

<style>
</style>

<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src={% static "mud/res/img/logo-parivahan-sewa-en.png"%} class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				<!-- row of user navigation bar -->
				    <div class="col-md-2" >
						<div class="row profile">
							<div class="profile-sidebar">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<img src={% static "mud/res/img/login-user.png"%} class="img-responsive" alt="">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										{{ user }}
									</div>
									<div class="profile-usertitle-email">
										{{ user.email }}
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<div class="profile_nav">
										<li >
											<a href="#">
											<i class="glyphicon glyphicon-user"></i>
											Basic details </a>
										</li>
										<li>
											<a href="{% url 'reg' purpose='edit' %}">
											<i class="glyphicon glyphicon-list"></i>
											Vechicle Registration </a>
										</li>
										<li>
											<a href="#" target="_blank">
											<i class="glyphicon glyphicon-ok"></i>
											RC Transfer </a>
										</li>
										
									</div>
								</div>
								<!-- END MENU -->
							</div>
						</div>
					</div>
					
					<!-- row for right panel container  -->
					<div class="col-md-10" style="background-color:white;">
								<!-- first row of vechicle detail -->
								<div class="row" style="margin:2%">
										<!-- frst row for user basic details -->
										<div class="panel panel-info">
											<div class="panel-heading"> VECHICLE DETAIL</div>		
											        <div class="panel-body">
<fieldset class="for-panel">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Name: </label>
                  <p class="form-control-static">{{ vdetails_f.owner }}</p>               
                  <label class="col-xs-5 control-label">Vehcile Class: </label>
                  <p class="form-control-static">{{ vdetails_f.vehicle_class }}</p>               
                   <label class="col-xs-5 control-label">Body Type: </label>
                   <p class="form-control-static">{{ vdetails_f.body_type }}</p>                           
                  <label class="col-xs-5 control-label">Vehicle Type: </label>
                  <p class="form-control-static">{{ vdetails_f.owner }}</p>               
                  <label class="col-xs-5 control-label">Company Name: </label>
                  <p class="form-control-static">{{ vdetails_f.company_name }}</p>               
                   <label class="col-xs-5 control-label">Year of Manufacture: </label>
                   <p class="form-control-static">{{ vdetails_f.year_manufacture }}</p>                           
                  <label class="col-xs-5 control-label">Number of Cylinders: </label>
                  <p class="form-control-static">{{ vdetails_f.numberof_cylinders }}</p>               
                   <label class="col-xs-5 control-label">Horse Power: </label>
                   <p class="form-control-static">{{ vdetails_f.horse_power }}</p>                           
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Cubic Capacity: </label>
                  <p class="form-control-static">{{ vdetails_f.cubic_capacity }}</p>               
                  <label class="col-xs-5 control-label">Chassis Number: </label>
                  <p class="form-control-static">{{ vdetails_f.chassis_no }}</p>               
                   <label class="col-xs-5 control-label">Engine Number: </label>
                   <p class="form-control-static">{{ vdetails_f.engine_number }}</p>                           
                  <label class="col-xs-5 control-label">Seating Capacity: </label>
                  <p class="form-control-static">{{ vdetails_f.seating_capacity }}</p>               
                  <label class="col-xs-5 control-label">Fuel Engine: </label>
                  <p class="form-control-static">{{ vdetails_f.fuel_engine }}</p>               
                   <label class="col-xs-5 control-label">Unladen Weight: </label>
                   <p class="form-control-static">{{ vdetails_f.unladen_weight }}</p>                           
                  <label class="col-xs-5 control-label">Body Color: </label>
                  <p class="form-control-static">{{ vdetails_f.body_color }}</p>               
                   <label class="col-xs-5 control-label">Registration Number: </label>
			{% if vdetails_f.registration is not None %}
                   <p class="form-control-static">{{ vdetails_f.registration_no }}</p>
			{% else %}  
			<p class="form-control-static">Still not Registered</p>
			{% endif %}                         
              </div>
            </div>

          </div>

        </fieldset>

												     			
										         	</div>
		 									</div>
		 									
		 									<!--  second row of pollution control detail related to respective vechicle -->	
		 									
		 									<div class="panel panel-info">
												<div class="panel-heading"> VECHICLE POLLUTION DETAIL</div>						
														        <div class="panel-body">

															     		<fieldset class="for-panel">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-5 control-label">Address: </label>
                  <p class="form-control-static">{{ present_f.add1 }}</p>               
                  <label class="col-xs-5 control-label">State: </label>
                  <p class="form-control-static">{{ present_f.state }}</p>               
                    <label class="col-xs-5 control-label">District: </label>
                    <p class="form-control-static">{{ present_f.district }}</p> 
		<label class="col-xs-5 control-label">Pincode: </label>
                    <p class="form-control-static">{{ present_f.pincode }}</p>                          
              </div>
            </div>
            
          </div>
        </fieldset>
<a href="{% url 'reg' purpose=vdetails_f.chassis_no %}"><button type="button" class="btn btn-warning ">Edit</button>
																		
															         </div>
															 	</div>	
									</div>		
					</div>
				</div>
	  		
	  
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
  <script src={% static "mud/js/vendor/jquery/jquery-2.1.4-min.js" %}></script>
 
 <script src={% static "mud/js/vendor/bootstrap/bootstrap.min.js" %}></script>
</body>
</html>
