<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
{% extends "mud/base.html" %}
{%load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}User Dashboard{% endblock %}
{% block content %}

	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				<!-- row of user navigation bar -->
				    {% include "mud/leftside.html" %}
					
					<!-- row for right panel container  -->
					<div class="col-md-10" style="background-color:white;">
							
								<div class="row" style="margin:2%">
										<!-- frst row for user basic details -->
										<div class="row">
									      <div class="col-md-6">
									          <div class="panel panel-info">
												<div class="panel-heading">USER DETAILS </div>
											       <div class="panel-body">
											     		<form class="form-horizontal" role="form" name="personalform">
												 			  <div class="form-group row">
															    <label for="ownerAdahr" class="col-sm-2 col-form-label">Adhar No.</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerAdahr" placeholder="Adhar" readonly>
															    </div>
															  </div>
															  <div class="form-group row">
															    <label for="ownerContact" class="col-sm-2 col-form-label">Contact No</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerContact" placeholder="ownerContact" readonly>
															    </div>
															  </div>
															  <div class="form-group row">
															    <label for="ownerPan" class="col-sm-2 col-form-label">Pan No.</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerPan" placeholder="ownerPan" readonly>
															    </div>
															  </div>
															  <div class="form-group row">
															    <label for="ownerPan" class="col-sm-2 col-form-label">Pan No.</label>
															    <div class="col-sm-10">
															      <input type="text" class="form-control" id="ownerPan" placeholder="ownerPan" readonly>
															    </div>
															  </div>
											     		</form>
												    </div>
							 	                </div>	
								   			</div>
								
											<div class="col-md-6">
												<div class="panel panel-info">
													<div class="panel-heading"> USER PERMANENT ADDRESS </div>
														<div class="panel-body">
															<form class="form-horizontal" role="form" name="permamanentAddressForm">
											 					<div class="form-group row">
															    	<label for="address1" class="col-sm-2 col-form-label">Address Line1</label>
															    	<div class="col-sm-10">
															      		<input type="text"  class="form-control" id="address1" readonly>
															    	</div>
																</div>
															    <div class="form-group row">
															     <label for="permanentcity" class="col-sm-2 col-form-label">City</label>
															     <div class="col-sm-10">
															       <input type="text" class="form-control" id="permanentcity" placeholder="permanentcity" readonly>
															     </div>
															    </div>
														  		<div class="form-group row">
														        	<label for="permanentState" class="col-sm-2 col-form-label">State</label>
														    		<div class="col-sm-10">
														      			<input type="text" class="form-control" id="permanentState" placeholder="permanentState" readonly>
														    		</div>
														  		</div>
														  		<div class="form-group row">
														    		<label for="permamnetPin" class="col-sm-2 col-form-label">Pin Code</label>
														    			<div class="col-sm-10">
														      				<input type="text" class="form-control" id="permamnetPin" placeholder="permamnetPin" readonly>
														    			</div>
														 		 </div>
							     							</form>
														</div>
												</div>
											</div>
							  			</div>
							  			
							  			<!-- second row for user already car details -->
							  			
							  			<div class="row">
							  				<div class="panel panel-info">
											  <div class="panel-heading">ALREADY REGISTERED VECHICLE </div>
											   <div class="panel-body">
							  					<table class="table table-hover">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">OWNER NAME</th>
													      <th scope="col">CHASSIS NO.</th>
													      <th scope="col">VECHICLE NO.</th>
													      <th scope="col"></th>
													     
													    </tr>
													  </thead>
													  <tbody>
													{% for f in vno_f %}
													    <tr>
													      <th scope="row">{{ forloop.counter }}</th>
													      <td>{{ puser_f.user_name }}</td>
													      <td>{{ f.chassis_no }}</td>
													{% if f.registration is not None %}
													      <td>{{ f.registration_no }}</td>
													{% else %}
													<td>Still not Registered</td>
													{% endif %}
													      <td><a href="{% url 'vehicle_details' cs_no=f.chassis_no %}"><button type="button" class="btn btn-warning ">VIEW</button></td>
													{% endfor %}
													    </tr>
																										  </tbody>
													</table>
												</div>
											</div>		
							  			</div>
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	
	
</div>
{% endblock %}
