<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
{% extends "mud/base.html" %}
{%load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}User Dashboard{% endblock %}
{% block content %}

	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				<!-- row of user navigation bar -->
				    {% include "mud/leftside.html" %}
					
					<!-- row for right panel container  -->
					<div class="col-md-10" style="background-color:white;">
							
								<div class="row" style="margin:2%">
										
							  			
							  			<!-- second row for user already car details -->
							  			
							  			<div class="row">
							  				<div class="panel panel-info">
											  <div class="panel-heading">ALREADY REGISTERED VECHICLE </div>
											   <div class="panel-body">
							  					<table class="table table-hover">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">OWNER NAME</th>
													      <th scope="col">CHASSIS NO.</th>
													      <th scope="col">VECHICLE NO.</th>
													      <th scope="col"></th>
													     
													    </tr>
													  </thead>
													  <tbody>
													{% for f in vno_f %}
													    <tr>
													      <th scope="row">{{ forloop.counter }}</th>
													      <td>{{ puser_f.user_name }}</td>
													      <td>{{ f.chassis_no }}</td>
													{% if f.registration_no is not None %}
													      <td>{{ f.registration_no }}</td>
													{% endif %}
													      <td><a href="{% url 'vehicle_details' cs_no=f.chassis_no %}"><button type="button" class="btn btn-warning ">VIEW</button></td>
													{% endfor %}
													    </tr>
																										  </tbody>
													</table>
												</div>
											</div>		
							  			</div>
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	
	
</div>
{% endblock %}
