<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>RTO DASHBOARD</title>
</head>
<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
			       <li class="pull-right" style="margin-right: -171%;" ><a href="#" id="text" >Log Out</a></li>
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				<!-- row of user navigation bar -->
				    <div class="col-md-2" >
						<div class="row profile">
							<div class="profile-sidebar">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<img src="res/img/login-user.png" class="img-responsive" alt="">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										RTO USER BOARD
									</div>
									<div class="profile-usertitle-email">
										mudbud2.0@mudbud.com
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<div class="profile_nav">
										<li >
											<a href="#">
											<i class="glyphicon glyphicon-user"></i>
											NEW VECHICLE REGISTRATION REQUEST </a>
										</li>
										<li>
											<a href="#">
											<i class="glyphicon glyphicon-list"></i>
											RC TRANSFER REQUEST </a>
										</li>
										<li>
											<a href="#" target="_blank">
											<i class="glyphicon glyphicon-ok"></i>
											REGISTERED POLLUTION CENTRE IN ZONE </a>
										</li>
										
									</div>
								</div>
								<!-- END MENU -->
							</div>
						</div>
					</div>
					
					<!-- row for right panel container  -->
					<div class="col-md-10" style="background-color:white;">
							
								<div class="row" style="margin:2%">
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="panel panel-info">
													<div class="panel-heading">GUIDELINES</div>
														<div class="panel-body">
															<ul>
																<li>EVERY APPLICATION IS LISTED IN NEW VECHICLE NOTIFICATION</li>
																<li>RC Trasfer applciation are listed in RC trasfer section</li>
																<li>Button like</li>
																	<ul>
																		<li>"Proceed " is for reviewing the application status 
																			and making its status change after viewing./</li>
																		<li>"Pending " button is for keeping application inn pending</li>
																		<li>"Discard" button is for discarding the application if application found guilty</li>
																	</ul> 
																<li>Registration number is to be generated after verifying the application </li>
																<li>Registration number is to mentioned in the application.</li>
																<li>Documents to be uploaded afte scanning with user signature</li>
																<li>No document size must be greater than 20kb</li>
																<li>stub photo oof user is to be taken at verifiying center</li>
																<li>Registration number is to be generated after verifying the application </li>
																<li>Registration number is to mentioned in the application.</li>
																<li>Documents to be uploaded afte scanning with user signature</li>
																<li>No document size must be greater than 20kb</li>
																<li>stub photo oof user is to be taken at verifiying center</li>
																
															</ul>
														</div>
												</div>
											</div>
											
											<div class="col-md-6">
												
											</div>
											<div class="col-md-6"></div>
										</div>
										
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>

 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
 
</body>
</html>