<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>Search Vechicle</title>
</head>

<style>
#main-vechile-number-panel{
	background: url("res/img/vechicle-number.jpg") #4898b3;
	padding-top: 80px;
    text-align: center;
    padding:0;
    margin-right:2%;
}

#vechicle-number-rightpanel{
	background: #fff;
    border-radius: 1px;
    padding: 60px 40px;
}
#main_content{
	background: url("res/video/bg-gif.gif");
	background-size: cover;
	height:auto;
	width:100%;
	mrgin-top:-1em;
	margin-right:1%;
	position:relative;

}

#notice_heading{
	 height: 30px;
    color: black;
    font-size: 20px;
    background: yellow;
    padding: 0;
    text-align: center;
}
</style>

<body>
<div class="row">
	<!-- header section -->
	<div class="row">
		<header>
		    <div class="container clearfix">
		       <nav>
		        	<a href="#">HOME</a>
		            <a href=""><span class="glyphicon glyphicon-user"></span>SIGNUP</a>
		            <a href=""><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
		        </nav>
		    </div>
		</header>
		<!-- /header -->
	</div>
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<div class="row" id="main" style="margin-top:-12em;">
	  <div class="col-md-12" id="main_content">
			<div class="col-md-1"></div>
		
			<div class="row"style="margin-top:7.5%;margin-left:6%;opacity:.8;">
					<div class="col-md-4" >
						 <div class="panel panel-default">
		        			<div class="panel-heading" id="notice_heading">GENERAL INSTRUCTIONS</div>
		        			<div class="panel-body"  style=" color: wheat; background-color: #3281b1;">
		        				<marquee direction="up" scrollamount=2>
				        			<ul>
					        			<li>ABCGFD ABCGFD  ABCGFD  ABCGFD  ABCGFD </li>
					        			<li>ASDFV ASDFV ASDFVASDFV ASDFV</li>
					        			<li>SCAFE SCAFESCAFE SCAFE SCAFE</li>
					        			<li>VWSEF VWSEF VWSEF VWSEF VWSEF</li>
					        			<li>ABCGFD ABCGFD ABCGFD ABCGFD ABCGFD</li>
					        			<li>ASDFV ASDFVASDFV ASDFVASDFVASDFVASDFV </li>
					        			<li>SCAFE SCAFE SCAFE SCAFE SCAFE SCAFE SCAFE</li>
				        			</ul>
		        				</marquee>
		                    </div>
		    		</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-6" >
					 <div class="row" id="main-vechile-number-panel">
		        		<div class="col-md-4"><h1>Vechicle Number</h1></div>
		        		<div class="col-md-8" id="vechicle-number-rightpanel">
		        		   <input id="vechicle-number" type="text" class="form-control" name="vechicle-number" value="" placeholder="enter vechicle number">
		 	       		   <div class="row" style="margin-top:7%;"><button type="button" class="btn btn-warning btn-lg">PROCEED</button></div>
		 	       		</div>
		 	       	 </div>
		        			
				</div>
				<div class="col-md-1" ></div>
		  </div>
		  <div class="row" style="margin:4%;"> <div class="col-md-12"></div></div>
	  </div>
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>