<!-- Homologation-->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>Homologation</title>

<style>

</style>
</head>

<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
		     	<li class="active" ><a href="#" id="text">HOME</a></li>
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
			     
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  			
					<div class="col-md-12" style="background-color:white;">
							
								<div class="row" style="margin:2%">
										<div class="panel panel-info">
												<div class="panel-heading">Homologation</div>
												<div class="panel-body" >
												
													<p>Homologation is the process of certifying that a particular vehicle is roadworthy and matches certain specified criteria laid out by the government for all vehicles made or imported into that country. Essentially, the tests ensure that the vehicle matches the requirements of the Indian market in terms of emission and safety and road-worthiness as per the Central Motor Vehicle Rules. For Homologation purposes, vehicles are categorized as:–</p>
														<ul>
															<li><h4>Category L1:</h4>Means a motorcycle with maximum speed not exceeding 45 km/h and engine capacity not exceeding 50cc if fitted with thermic engine or motor power not exceeding 0.5 kilo watt if fitted with electric motor.</li>
															<li><h4>Category L2: </h4> Means a motorcycle other than Category L1.</li>
															<li><h4>Category M:</h4>  Means a motor vehicle with at least four wheels used for the carrying passengers.
																	<ol>
																		<li><h4>Category M1:</h4>  Means a motor vehicle used for the carriage of passengers, comprising not more than eight seats in addition to the driver's seat.</li>
																		<li><h4>Category M2:</h4>  Means a motor vehicle used for the carriage of passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight not exceeding 5 tons.</li>
																		<li><h4>Category M3:</h4>  Means a motor vehicle used for the carriage passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight exceeding 5 tons.</li>
																		</ol></li>
														
																		<li><h4>Category N:</h4>  Means motor vehicles having at least four wheels used for the carrying goods which may also carry persons in addition to the goods subject to conditions.
																		<ol>
															<li><h4>Category N1:</h4>  Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight not exceeding 3.5 tons.</li>
															<li><h4>Category N2:</h4>  Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight exceeding 3.5 tons but not exceeding 12 tons.</li>
															<li><h4>Category N3:</h4>  Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight exceeding 12 tons.</li></ol>
															</li>
														</ul>
												</div>
										</div>
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>