<!-- permit fee and its period  -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>Permit Fee and Period</title>

<style>

</style>
</head>

<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
		     	 <li class="active" ><a href="#" id="text">HOME</a></li>
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
			      
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				
					<div class="col-md-12" style="background-color:white;">
							
								<div class="row" style="margin:2%">
										<div class="panel panel-info">
											
												<div class="panel-body" >
													<div class="row">
															<div class="col-md-12">
															<!-- table 1 -->
															<div class="col-md-6">	
															<h4>Local Permit</h4>
															<table class="table table-responsive table-hover table-bordered">
																<thead>
																	<tr>
																		<th>S.No.</th>
																		<th>Type of Vehicle</th>
																		<th>Fee Payable</th>
																		<th>Permit Period</th>
																	</tr>
																	</thead>
																	<tbody>
																	<tr>
																		<td>(1)</td>
																		<td>Light goods Vehicle (LGV)</td>
																		<td>2000/- <br>Rs. 500 (authorization)</td>
																		<td>5 yrs. <br>1 yrs.</td>
																	</tr>
																	<tr>
																		<td>(2)</td>
																		<td>Heavy Goods Vehicle</td>
																		<td>2500/-</td>
																		<td>5 yrs.</td>
																	</tr>
																  </tbody>
															 </table>
															</div>
															
															  <!-- table 2 -->
																<div class="col-md-6">
																<h4>National Permit</h4>	
																<table class="table  table-responsive table-hover table-bordered">
																	<thead>
																		<tr>
																			<th>S.No.</td>
																			<th>Type of Vehicle</th>
																			<th>Fee Payable</th>
																			<th>Permit Period</th>
																		</tr>
																		</thead>
																		<tbody>
																		<tr>
																			<td>(1)</td>
																			<td>Light goods Vehicle (LGV)</td>
																			<td>2015/- <br>Rs. 500 (authorization)</td>
																			<td>5 yrs. <br>1 yrs.</td>
																		</tr>
																		<tr>
																			<td>(2)</td>
																			<td>Heavy Goods Vehicle</td>
																			<td>2515/-</td>
																			<td>5 yrs.</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
													
													<div class="row" style="margin-left:2%;">For obtaining National Permit for any category of vehicle one should opt for at least three states excluding Delhi. Composite fee as stipulated by the concerned states, in the form of Bank Drafts has also to be deposited with STA, Delhi.</div>
														
														<!-- table 3 -->
														<div class="row">
															<div class="col-md-12">
																<h4>Composite fee applicable in few of the states is as under:</h4>
																<div class="col-md-6">
																		
																		<table class="table table-responsive table-hover table-bordered">
																			<thead>
																				<tr>
																					<th>S.No.</th>
																					<th>State</th>
																					<th>Fee Payable</th>
																				</tr>
																				</thead>
																				<tbody>
																				<tr>
																					<td>(1)</td>
																					<td>Haryana</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(2)</td>
																					<td>Rajasthan</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(3)</td>
																					<td>U.P.</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(4)</td>
																					<td>M.P.</td>
																					<td>5000/-</td>
																					</tr>
																				<tr>
																					<td>(5)</td>
																					<td>H.P.</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(6)</td>
																					<td>J&amp;K</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(7)</td>
																					<td>Punjab</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(8)</td>
																					<td>Bihar</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(9)</td>
																					<td>Gujarat</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(10)</td>
																					<td>Maharashtra</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(11)</td>
																					<td>Orissa</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(12)</td>
																					<td>W.Bengal</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(13)</td>
																					<td>Kerala</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(14)</td>
																					<td>Assam</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(15)</td>
																					<td>Meghalaya</td>
																					<td>5000/-</td>
																				</tr>
																				<tr>
																					<td>(16)</td>
																					<td>Tamil Nadu</td>
																					<td>3000/-</td>
																				</tr>
																				<tr>
																					<td>(17)</td>
																					<td>Andhra Pradesh</td>
																					<td>3000/-</td>
																				</tr>
																				<tr>
																					<td>(18)</td>
																					<td>Chandigarh</td>
																					<td>1500/-</td>
																				</tr>
																				<tr>
																					<td>(19)</td>
																					<td>Pondicherry</td>
																					<td>1500/-</td>
																				</tr>
																		</tbody>
																		</table>
																</div>
																
																<div class="col-md-6">
																		<table class="table table-responsive table-hover table-bordered">
																			<thead>
																				<tr>
																					<th>S.No.</th>
																					<th>Type of Vehicle</th>
																					<th>Fee Payable</th>
																					<th>Permit Period</th>
																				</tr>
																			</thead>	
																				<tbody>
																				<tr>
																					<td>(1)</td>
																					<td>Light goods Vehicle (LGV)</td>
																					<td>1215/-</td>
																					<td>For 5 yrs.</td>
																				</tr>
																				<tr>
																					<td>(2)</td>
																					<td>Heavy Goods Vehicle</td>
																					<td>1615/-</td>
																					<td>For 5 yrs.</td>
																				</tr>
																				<tr>
																					<td>(3)</td>
																					<td>Contract Carriage Permit for buses</td>
																					<td>1100/-</td>
																					<td>For 5 yrs.</td>
																				</tr>
																				<tr>
																					<td>(4)</td>
																					<td>All India Tourist Permit for buses</td>
																					<td>500/-</td>
																					<td>For 1 yr</td>
																				</tr>
																				<tr>
																					<td>(5)</td>
																					<td>Stage Carriage Permit for Red line, Blue lines, Suvidha and Interstate Permits (Renewal fee)</td>
																					<td>1100/-</td>
																					<td>For 5 yrs</td>
																				</tr>
																				<tr>
																					<td>(6)</td>
																					<td>Point to Point Permit</td>
																					<td>500/-</td>
																					<td>For 4 months</td>
																				</tr>
																				<tr>
																					<td>(7)</td>
																					<td>Counter signature for Haryana &amp; Punjab State</td>
																					<td></td>
																					<td></td>
																				</tr>
																				<tr>
																					<td></td>
																					<td>LGV</td>
																					<td>1500/-</td>
																					<td>5 yrs</td>
																				</tr>
																				<tr>
																					<td></td>
																					<td>HMV</td>
																					<td>2500/-</td>
																					<td>5 yrs</td>
																				</tr>
																				<tr>
																					<td>(8)</td>
																					<td>Counter Signature for other State Stage Carriage</td>
																					<td>2500/-</td>
																					<td>5 yrs</td>
																				</tr>
																				<tr>
																					<td>(9)</td>
																					<td colspan="3">Temporary Permit @ Rs. 20/- per day issued subject to tax paid to Borders.</td>
																				</tr>
																				<tr>
																					<td>(10)</td>
																					<td colspan="3">Authorization of AITPs for other states minimum two states are issued on submitting authorization fee as stipulated by different states either with home state or at border.</td>
																				</tr>
																			</tbody>
																		</table>
																</div>
															</div>
														</div>
														

														<div class="row" style="margin-left:2%;">
															<p >A permit other than temporary permit issued under section 87 or a special permit or a special permit issued under sub section (8) of section 88 shall be effective (from the date of issuance or renewal thereof) for a period of 5 years. The fee for the renewal of permit is same as issuance of permit fee. For the renewal of permit the applicant has to submit application (PRA) along with permit renewal fee and other requirements 15 days before the expiry of said permit. If any fee is not paid by the due date, the following late fee shall be payable for the renewal of permits.</p>
														</div>
														
														<div class="row">
															<div class="col-md-12">
																	<table class="table table-responsivetable-hover table-bordered">
																		<thead>
																			<tr>
																				<th>Type of Vehicle</th>
																				<th colspan="2">Late Fee Payable</th>
																			</tr>
																		</thead>	
																			<tbody>
																			<tr>
																				<td></td>
																				<td class="center-position font-bold">Upto the Expiry of Permit</td>
																				<td class="center-position font-bold">After the Expiry of Permit</td>
																			</tr>
																			<tr>
																				<td>Auto Rickshaw</td>
																				<td>Fifty rupees</td>
																				<td>Fifty rupees plus three rupees per day</td>
																			</tr>
																			<tr>
																				<td>Local Taxis</td>
																				<td>One hundred rupees</td>
																				<td>One hundred rupees plus ten rupees per day</td>
																			</tr>
																			<tr>
																				<td>Light Motor Vehicles/ Medium Motor Vehicles/ Deluxe Taxis/ All India Tourist Taxis</td>
																				<td>Two hundred rupees</td>
																				<td>Two hundred rupees plus fifty rupees per day</td>
																			</tr>
																			<tr>
																				<td>Heavy Motor Vehicles/ Heavy Goods Vehicle</td>
																				<td>Three hundred rupees</td>
																				<td>Three hundred rupees plus twenty rupees per day</td>
																			</tr>
																			<tr>
																				<td style="font-size: 1px; height: 1px; padding: 0px; margin: 0px;" colspan="3">&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
															</div>
														</div>
														

													<div class="row" style="margin-left:2%;">
														<p >If any fee is not paid by the due date in case of All India Tourist Permit/ National permits/ Interstate Permit a late fee at the rate of rupees twenty per day shall be paid by the vehicle owner before the issue/ renewal thereof. The fee for the issue of duplicate permit shall be half of the permit fee.</p>
													</div>	
													<div class="row" style="margin-left:2%;"><h4>Replacement of Vehicle</h4></div>
														<p>The holder of a permit may, with the permission of authority by which the permit was granted, replace any vehicle covered by the permit by any other vehicle of the same nature.A period of 4 months is allowed for the replacement of vehicle in a permit which is deposited on replacement mode, from the date of deposit of permit. Beyond this period, the replacement is allowed after charging the composition fee in pursuance of by the STA Resolution No. 20/2005 dated 29.10.2005 which is reproduced as below:</p>
														<ul>
															<li>For first 30 days after the lapse of four months - @ Rs.10/- per day</li>
															<li>From 31<sup>st</sup> to 60<sup>th</sup> day after the lapse of four months - @ Rs.20/- per day</li>
															<li>From 61<sup>st</sup> to 120<sup>th</sup> day after the lapse of four months - @ Rs.40/-per day</li>
															<li>From 121<sup>st </sup>to 180<sup>th</sup> day after the lapse of four months - @ Rs.60/-per day</li>
															<li>From 181<sup>st</sup> day after the lapse of four months - @ Rs. 100/- per day</li>
														</ul>
														<p>
															<span>and such restoration of permit is subject to the approval of Competent Authority. </span></p>
														<p>
															Requirement of PAN Card and Bank A/c Number at the time of grant/ renewal and transfer of permit State Transport Authority, Government of NCT of Delhi in its meeting held on 7.4.2006 and 18.4.2006 inter-alia vide Resolution No. 21/ 2006 has resolved that the applicant shall submit a self-attested photocopy of PAN card and Bank A/c Number at the time of grant / renewal or transfer of permit for all types of transport vehicles. The PAN Card and Bank A/c number shall form part of the office record and maintained in the computerized data record. Requirement of Speed Limiting Device</p>																
												</div>
										</div>
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>