<!-- types of permit -->


<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>Types Of Permit</title>
<style>
#panel_permit{
	overflow-y: auto;
    
    max-height: 410px;
}
</style>
</head>

<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
		     	 <li class="active" ><a href="#" id="text">HOME</a></li>
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
			      
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				<!-- row of user navigation bar -->
				    
					
					<!-- row for right panel container  -->
					<div class="col-md-12" style="background-color:white;">
							
								<div class="row" style="margin:2%">
									<div class="col-md-12">
										<div class="panel panel-info">
													<div class="panel-heading">TYPES OF PERMIT</div>
														<div class="panel-body" id="panel_permit">
															
															<h2>Permits for Goods Vehicles</h2>
																<ul>
																	<li><h4>Goods Carrier Permits :</h4></li>
																		<ul><li>Such permit is granted under Section 79 of the Motor Vehicles Act,1988, to a goods vehicle operating within the state. Permits granted to a particular vehicle for carrying a 
																		particular load has to be plied for that particular area only.</li></ul>
																	<li><h4>Counter Signatures of Goods Carrier permits:</h4></li>
																		<ul><li>These are the permits which are initially issued by one state and later on endorsed in another state by the concerned State or Regional Transport Authority under section 88 of Motor Vehicle Act, 1988. In view of the Delhi Government Notification number F. PA/JCV/OPS/Tpt./1613/05/1447 dated 5th January 2006, counter signatures are not being done under section 88 of Motor Vehicle Act,
																		 1988 for those goods vehicle registered in other states and having a gross vehicle weight upto 7500 kg. if not running on clean fuel.</li></ul>
																	<li><h4>National Permits :</h4></li>
																		<ul><li>National permits are issued to goods vehicles to enable them to go outside the home state. National Permit is issued for a minimum of four continuous states (including the home state) under rule 86 & 87 of Central Motor Vehicles Rules, 1989. For obtaining such permits the maximum age of a particular vehicle should not exceed 12 years. However, maximum age in case of a multi-axle vehicle should not exceed 15 years. For the issue of National Permit, applicant has to apply on form 46 and 48 along with other formalities</li></ul>
																</ul>
															<h2>Permits for Passenger Vehicles</h2>
																<ul>
																	<li><h4>Auto Rickshaw and Taxi permits :</h4></li>
																		<ul><li>Such permits are issued by MLO (AR) Burari for carrying passengers to various places within Delhi. Fare is charged as per the fare meter mounted on such Vehicles & as determined by STA.</li></ul>
																	<li><h4>Prevailing fares are as under:</h4></li>
																		<ul><li>Auto-Rickshaw-Rs.8.00 for first kilometer and thereafter Rs.3.50 for every additional kilometer.</li>
																			<li>Taxi-Rs.10.00 for first kilometer and thereafter Rs.5.00 for every additional kilometer.</li>
																		</ul>
																	<li><h4>Maxicabs:</h4></li>
																		<ul><li>Such permit are issued by STA to vehicles carrying passengers to various parts of Delhi on a fixed route and as per the fare fixed by the STA. Total seating capacity of such vehicles should not exceed more than 12 excluding the Driver.</li></ul>
																	<li><h4>Phat Phat Sewa :</h4></li>
																		<ul><li>The operators using the three wheeled Harley - Davidson engine vehicles were issued Phat Phat Sewa permits. These vehicles have since been replaced with vehicles having maximum seating capacity of 9. They ply on a fixed route and charge the fare as per S.T.A. approval.</li></ul>
																	<li><h4>Eco Friendly Sewa:</h4></li>
																		<ul><li>Transport Department has issued permits to battery operated 3 wheeled vehicles having seating capacity up to 10.</li></ul>
																	<li><h4>Contract Carriage Buses Permits (Chartered Buses):</h4></li>
																		<ul><li>This is the most common type of permit used for hire and reward purpose. The permit holder can operate under a contract with his client for a fixed destination within Delhi or outside Delhi. For this an agreement should be executed between the clients and the operators and the list of passengers should also be available with the driver of bus. The permit holder cannot pick passengers other than those mentioned in the list. Such type of buses are also known as Chartered Buses. These permits are issued under section 74 of Motor Vehicles Act, 1988. The applicant has to apply on form PCA alongwith other formalities.</li></ul>
																	<li><h4>Stage Carriage Permits :</h4></li>
																		<ul>
																		<li>State Transport Authority announces scheme for grant of stage carriage permit from time to time, depending upon the requirement of buses on different route of the city. These permits are issued under section 72 of Motor Vehicles Act, 1988. The permit holders can operate their bus under their allotted routes for picking up passengers from one place to another. All DTC and private stage carriage buses come under this category. The fares are fixed by STA. Prevailing fares are as under:
																			<ul>
																				<li>Upto 4 Kilometeters Rs.2.00</li>
																				<li>From 4 to 8 Kilometers Rs.5.00</li>
																				<li>From 8 to 12 Kilometers Rs.7.00</li>
																				<li>From 12 to 16 Kilometers & above Rs.10.00</li>
																			</ul>
																		</li></ul>
																	<li><h4>Temporary Permits:</h4></li>
																		<ul><li>A temporary permit is issued by STA under Section 87 of Motor Vehicles Act, 1988 to transport vehicle for a limited period, enabling the vehicle to go out side Delhi for the following reasons:
																			<ul>
																				<li>For the conveyance of passengers on special occasions such as to and from fairs and religious gatherings</li>
																				<li>For the purposes of a seasonal business</li>
																				<li>To meet a particular temporary need, or Pending decision on an application for the renewal of a permit. </li>
																			</ul>	
																			</li>
																			<li>The applicant has to apply on form P. TEMP. A.DLY/DLZ (ALL India Tourist Permits cab) :</li>
																				<ul><li>This permit is given for motor cabs having seating capacity of five. The colour of the cabs are permitted as white only. The applicant for this permit should have an office having telephone at suitable tourist passengers booking place . The applicant should have authorised parking place to park these vehicles and adequate financial resources to purchase the vehicle. The road tax\passenger tax of vehicle is paid at state borders. DLZ permits are given to luxury cars.</li></ul>
																		</ul>
																		
																	<li><h4>Rent-a-Cab Permits :</h4></li>
																		<ul><li>With the increase in no. of multi nationals Companies & tourists requirements Rent-A-Cab scheme was launched in India in 1989. Under this scheme the passenger drives the vehicle himself & fare is charged on no. of days the cab is used. The applicant should have a 24 hrs. accessible telephone, adequate parking space, experience of passenger transport business. The applicant in addition should have a fleet of 50 cabs of which 50% should be air-conditioned. The permit of these schemes are also valid throughout India provided the passenger taxes were paid to the corresponding states</li>
																			
																		</ul>	
																	<li><h4>Institution/School Buses:</h4></li>
																		<ul><li>The vehicles of Educational Institution registered under the Societies Act 1960 (21 of 1960) are issued contract carriage permit by STA. These vehicles are also exempted from road tax. For identification these vehicles are painted in golden yellow paint. Special provisions have been incorporated in Delhi Motor Vehicles Rules, 1993 for additional safeguards in respect of the safety of the children.</li></ul>								
																
																	<li><h4>All India Tourist Permit (AITP):</h4></li>
																		<ul><li>This permit is given to luxury buses which have white colour with a blue ribbon of five centimeters width at the center of exterior of the body and the word 'Tourist' shall be inserted on two sides of the vehicle within a circle of sixty centimeters diameter. A tourist permit shall be deemed to be invalid from the date on which the motor vehicle covered by the permit completes 9 years in the case of Motor Cab and 8 years where the motor vehicle is other than a motor cab, unless the motor vehicle is replaced by another, the latter vehicle shall not be more than 2 years old on the date of such replacement. The seating layout shall be two and two or one and two or one and one on either side, all seats facing forwards. The Vehicles should also have other facilities like public address system, drinking water, push full back seats, fans, curtains, a separate driver cabin etc. The applicant has to apply on form 45 & 48 along with other formalities.</li>
																			<li>Every motor vehicle or motor cab under the Authorization Certificate issued under these rules shall exhibit the words 'All India Tourist Permit' on the back of the motor vehicle in contrasting colours, so as to be clearly visible. (as per the notification issued by Deptt. Of Road Transport & Highways on 26th June 2007)</li>
																		</ul>
																</ul>	
														</div>
									</div>	
							  	</div>		
						
					</div>
				</div>
	  		
	  
	 
			</div>
	</div>
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>