<!-- search vechicle for police , PUC after login with there username and pass -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css">
  	  <link rel="stylesheet" href="css/main.css">
<title>User Fee</title>
</head>

<body>
<div class="row">
	
	
	<!-- slogan row begin -->
	<div class="row">
		 <div class="container">
              <div class="inline-section vertical-right-divider">
                  <div id="logo">
                       <a href="https://parivahan.gov.in/parivahan" title="Home">
                       <img src="res/img/logo-parivahan-sewa-en.png" class="emblem-resize"></a>
                  </div>
              </div>
   
              <div class="inline-section fix-width">
                  <div class="govt-india">
                       Government of India 
                  </div>
	              <div class="slogan-name">
	                   Ministry of Urban Development &amp; Highways       
	              </div>
              </div>
          </div>
	</div>
	
	<!-- navigation menu section-->
	<div class="row" >
	    <nav class="navbar" id="navigation">
		  <div class="container-fluid">
		     <ul class="nav navbar-nav">
		     	<li class="active" ><a href="#" id="text">HOME</a></li>
			      <li class="active" ><a href="#" id="text">VISION</a></li>
			      <li><a href="#" id="text">ABOUT US</a></li>
			      <li><a href="#" id="text">FAQ</a></li>
			      <li><a href="#" id="text">CONTACT US</a></li>
			      
		    </ul>
		  </div>
        </nav>
	 </div>
	<!-- navigation ends -->
	
	<!-- main content row-->
	
	<!-- left panel of main body -->
	
	  		<div class="row">
	  			<div class="container" style="width:100%;background: #08102d;">
	  				
					<div class="col-md-12" style="background-color:white;">
							
								<div class="row" style="margin:2%">
									<div class="panel panel-success">
										<div class="panel-heading">USER FEE</div>
										<div class="panel-body" >
											<div class="col-md-12">
													<table class="table table-responsive table-hover table-bordered">
														<thead>
															<tr class="center-position">
																<th>Sl.No.</th>
																<th>Purpose</th>
																<th>Amount</th>
																<th>Rule</th>
																<th>Section</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td >1.</td>
																<td colspan="4">Grant or renewal of trade certificate in respect of each class of vehicle:</td>
															</tr>
															<tr>
																<td></td>
																<td>(a) Motorcycle</td>
																<td>Five Hundred Rupees</td>
																<td>34(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td>(b) Invalid Carriage</td>
																<td>Five Hundred Rupees</td>
																<td>34(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td>(c) Others</td>
																<td>One Thousand Rupees</td>
																<td>34(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td>2.</td>
																<td colspan="4">Duplicate trade certificate:</td>
															</tr>
															<tr>
																<td></td>
																<td>(a) Motorcycle</td>
																<td>Three Hundred Rupees</td>
																<td>38(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td>(b) Invalid Carriage</td>
																<td>Three Hundred Rupees</td>
																<td>38(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td>(c) Others</td>
																<td>Five Hundred Rupees</td>
																<td>38(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td>3.</td>
																<td>Appeal under rule 46</td>
																<td>One Thousand Rupees</td>
																<td>46(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td >4.</td>
																<td class="font-bold" colspan="4">Issue or renewal of certificate of registration and assignment of new registration mark:</td>
																</tr><tr><td>&nbsp;</td>
																<td><span class="font-bold">(a)</span> Invalid Carriage</td>
																<td>Fifty Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span class="font-bold">(b)</span> Motor cycle</td>
																<td>Three Hundred Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td  colspan="4">(c) Three wheeler/Quadricycle/Light Motor Vehicles:</td>
															</tr>
															<tr>
																<td></td>
																<td>i) Non transport;</td>
																<td>Six Hundred Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td>ii) Transport</td>
																<td>One Thousand Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span>(d)</span> Medium goods vehicle</td>
																<td>One Thousand Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span>(e)</span> Medium passenger motor vehicle</td>
																<td>One Thousand Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span>(f)</span> Heavy goods vehicle</td>
																<td>One Thousand and Five Hundred Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span >(g) </span>Heavy passenger motor vehicle</td>
																<td>One Thousand and Five Hundred Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span >(h)</span> Imported motor vehicle</td>
																<td>Five Thousand Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span >(i)</span> Imported motor cycle</td>
																<td>Two Thousand and Five Hundred Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span>(j)</span> Any other vehicle not mentioned above</td>
																<td>Three Thousand Rupees</td>
																<td>47(1) 52(1) 54(1) 76(1) and 78(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td colspan="4"><span >Note 1: </span>Additional fee of Two Hundred Rupees shall be levied if the certificate of registration is a smart card type issued or renewed in Form 23A.</td>
																</tr><tr><td>&nbsp;</td>
																<td colspan="4"><span >Note 2:</span> In case of delay in applying for renewal of certificate of registration, an additional fee of Three Hundred Rupees for delay of every month or part thereof in respect of motor cycles and Five Hundred Rupees for delay of every month or part thereof in respect of other classes of nontransport vehicles shall be levied.</td>
															</tr>
															<tr>
																<td >5.</td>
																<td>Issue of duplicate certificate of registration</td>
																<td>Half of the fee mentioned against Serial No.4</td>
																<td>53(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td >6.</td>
																<td>Transfer of ownership</td>
																<td>Half of the fee mentioned against Serial No.4.</td>
																<td>55(2)(iii), 55(3), 56(2)(a) and 57(1)(a)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td colspan="4"><span>Note: </span>In case of delay in submission of ‘No Objection Certificate’, an additional fee of Rupees Three Hundred for delay of each month or part thereof in case of motor cycles and Five Hundred Rupees for each month of delay or part thereof for other vehicles shall be levied.</td>
															</tr>
															<tr>
																<td class="font-bold">7.</td>
																<td>Change of residence</td>
																<td>Half of the fee mentioned against Serial No.4.</td>
																<td>59</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td colspan="4"><span >Note:</span> In case of delay in submitting ‘No Objection Certificate’ for change of residence, an additional fee of Rupees Three Hundred for delay of each month or part thereof in case of motor cycles and Five Hundred Rupees for each month of delay or part thereof for other vehicles shall be levied.</td>
															</tr>
															<tr>
																<td>8.</td>
																<td>Recording alteration in the certificate of registration</td>
																<td>Half of the fee mentioned against Serial No.4</td>
																<td>---</td>
																<td>---</td>
															</tr>
															<tr>
																<td >9.</td>
																<td colspan="4"><span> Endorsing hire purchase/lease/hypothecation agreement:</span></td>
															</tr>
															<tr>
																<td></td>
																<td><span>(a)</span> Motorcycle</td>
																<td>Five Hundred Rupees</td>
																<td>60</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span >(b)</span> Three wheeler/quadricycle/light motor vehicle</td>
																<td>One Thousand and Five Hundred Rupees</td>
																<td>60</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span	>(c)</span> Medium or heavy vehicle</td>
																<td>Three Thousand Rupees</td>
																<td>60</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td colspan="4"><span>Note:</span> No separate fee will be levied for cancellation of lease, etc, or for issue of fresh Certificate of Registration thereafter.</td>
															</tr>
															<tr>
																<td>10.</td>
																<td colspan="4"><span> Conducting test of a vehicle for grant or renewal of certificate of fitness:</span></td>
															</tr>
															<tr>
																<td></td>
																<td><span >(a)</span> Motorcycle</td>
																<td><span >(i)</span> Manual: Two Hundred Rupees<br><span class="font-bold">(ii) </span>Automated: Four Hundred Rupees</td>
																<td>62(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span>(b)</span> Three wheeled or light motor vehicle or quadricycle</td>
																<td><span>(i)</span> Manual : Four Hundred Rupees<br><span class="font-bold">(ii) </span>Automated: Six Hundred Rupees</td>
																<td>62(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td><span >(c)</span> Medium or heavy motor vehicle</td>
																<td><span >(i)</span> Manual: Six Hundred Rupees<br><span class="font-bold">(ii)</span> Automated: One Thousand Rupees</td>
																<td>62(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td >11.</td>
																<td>Grant or renewal of certificate of fitness for motor vehicle</td>
																<td>Two Hundred Rupees.</td>
																<td>62(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td></td>
																<td colspan="4"><span>Note:</span> Additional fee of Fifty Rupees for each day of delay after expiry of certificate of fitness shall be levied.</td>
															</tr>
															<tr>
																<td >12.</td>
																<td>Grant or renewal of letter of authority</td>
																<td>Fifteen Thousand Rupees</td>
																<td>63(2)(a)</td>
																<td>---</td>
															</tr>
															<tr>
																<td >13.</td>
																<td>Issue of duplicate letter of authority</td>
																<td>Seven Thousand and Five Hundred Rupees</td>
																<td>66(2)</td>
																<td>---</td>
															</tr>
															<tr>
																<td>14.</td>
																<td>Appeal under rule 70</td>
																<td>Three Thousand Rupees</td>
																<td>71(1)</td>
																<td>---</td>
															</tr>
															<tr>
																<td>15.</td>
																<td>Any application not covered under entries at Serial Nos. 1 to 14 above</td>
																<td>Two Hundred Rupees</td>
																<td>64(p)</td>
																<td>---</td>
															</tr>
														</tbody>
												</table>
											</div>	
										</div>
									</div>			
				  				</div>			
						
					</div>
				</div>
	  		
	  
	 
	</div>
	
	<!-- footer -->
	<div class="row" id="vahan-footer-section">
         <div class="col-md-3 left-position"></div>
         <div class="col-md-6 center-position">
            <div class="inline-section top-space">
                        This Website belongs to MudBud2.0
                        <br>
                        Government of India
            </div>
         </div>
         <div class="col-md-3 right-position footer-line-height"> </div>
    </div>
	<!-- footer ends-->
	
</div>
 <script src="js/vendor/jquery/jquery-2.1.4-min.js"></script>
 
 <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>